@{
    ViewData["Title"] = "Games";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<li> Texas Hold'em Poker</li>
<li> Classic game</li>
<li> Host games </li>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
